spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/soulsonder # docker 로 사용하고 있으며 같은 docker 에서 실행시에는 url 을 변경필요
    username: soul
    password: soulpass123!23
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
        show_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

logging:
  level:
    org.hibernate.SQL: debug
